body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    height: 100vh;
    overflow: hidden;
  }
  
  .image-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.6s ease;
    z-index: 0;
  }
  
  .comment-section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    max-width: 90%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .comment {
    font-size: 1.1rem;
    color: #333;
    background-color: #d8e6c2;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.4s ease;
  }
  
  .next-button {
    background: #d8e6c2;
    border: none;
    cursor: pointer;
    padding: 1em 1.5em;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    background-color: #c3d7a9;
  }
  .home-button {
    margin-top: 1em;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 12px;
    background-color: #4b7350;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #395b3e;
  }
  
  